/* --- Container de Lista de Editorias --- */
.editorial-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -10px;
    flex-direction: column;
}

/* --- Item Editorial (Card Principal) --- */
.editorial-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: calc(20% - 20px);
    margin: 10px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}
.editorial-item:hover {
    transform: scale(1.01);
}

/* Link de Overlay Total */
.full-card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0);
}

/* Conteúdo do Item Editorial */
.editorial-content {
    position: relative;
    z-index: 2;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

/* Estilos de Texto e Links */
.editorial-title a, .editorial-actions a {
    color: white;
    text-decoration: none;
}
.editorial-actions a:hover {
    text-decoration: underline;
}

.editorial-title {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.editorial-actions {
    font-size: 0.9em;
    margin-top: 5px;
}

#delete-editorial-btn {
    color: red;
}

.editorial-order-select, .editorial-date {
    font-size: 0.8em;
    opacity: 0.8;
}

/* --- Grupo Mensal --- */
.monthly-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 30px;
}
.monthly-group h2 {
    width: 100%;
    margin-left: 15px;
    margin-bottom: -5px;
}

/* --- Responsividade --- */
@media (max-width: 1200px) {
    .editorial-item { flex-basis: calc(25% - 20px); }
}
@media (max-width: 992px) {
    .editorial-item { flex-basis: calc(33.333% - 20px); }
}
@media (max-width: 768px) {
    .editorial-item { flex-basis: calc(50% - 20px); }
}
@media (max-width: 576px) {
    .editorial-item {
        flex-basis: 100%;
        height: 200px;
    }
}

/* --- Paginação --- */
.pagination { text-align: center; }

/* --- Conteúdo de Chapter (Posts Filhos) --- */
.editorial-chapters-list-container {
    display: flex;
    flex-wrap: wrap;
}

.editorial-item.editorial-child {
    flex-basis: calc(15% - 30px);
    margin: 20px;
    height: 150px;
    background: rgba(0, 0, 0, 0.3);
}

/* Conteúdo do Item Child */
.editorial-item.editorial-child .editorial-content {
    background: rgba(3, 23, 153, 0.548);
}

/* Overlay de Ícone */
.icon-overlay {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(3, 23, 153, 0.548);
    color: white;
    font-size: 32px;
}

/* Estilos de Conteúdo para Posts Filhos */
.editorial-item.editorial-child .editorial-content {
    display: flex;
    flex-direction: column;
}

.editorial-item.editorial-child .editorial-order-select {
    order: 1;
    text-transform: uppercase;
    font-size: 16px;
}

.editorial-item.editorial-child .editorial-actions {
    order: 2;
    margin-top: 20px;
}

.editorial-item.editorial-child .editorial-title {
    order: 3;
    font-size: 12px;
}

.editorial-item.editorial-child .editorial-date {
    order: 4;
}

/* Esconde o menu de ordem */
#menu_order, .menu-order-label-wrapper { display: none !important; }
