.featured-image-row {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.overlay-level-1 {
            position: relative;
        }

        .overlay-level-1::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #ffd6d6c7;
            opacity: 0.8;
            pointer-events:none;
        }
        
.overlay-level-0 {
            position: relative;
        }

        .overlay-level-0::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #1b38f4d9;
            opacity: 0.8;
            pointer-events:none;
        }        
        
        tr, td, .check-column  {
    z-index: 99;
}